<div class="contents">
<% @posts.each do |post| %>
  <div class="post">
    <pre><%= post.body %></pre>
    <div class="control"></div>
  </div>
<% end %>
</div>

<form action="/create" method="POST">
  <textarea id="" name="body" cols="40" rows="10" placeholder="ぽえみ〜"></textarea>
  <br />
  <input type="submit" value="submit">
</form>
<script src="./js/index.js"></script>
