<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/layout.css">
  <script src="./js/jquery/jquery.min.js"></script>
  <title><%= @title || "Sinatra App" %></title>
  <%= bootstrap_css true %>
</head>
<body>
  <% container :div do %>
    <%= yield %>
  <% end %>
</body>
</html>
