form {
  clear: both;
}
.contents {
  width: 830px;
  min-height: 100px;
  height: auto;
}
.mock-post {
  cursor: default;
  padding: 50px 50px;
  color: gray;
  width: 230px;
  height: 100px;
}
.post, .mock-post {
  border: thin solid rgba(0, 0, 0, 0.1);
  float:left;
  max-width: 300px;
  background: #FEFEFE;
  margin: 3px 2px;
  padding: 3px;
}
.post {
  cursor: pointer;
}
.post:hover {
  background: rgba(255,140,0, 0.5);
  border: thin solid rgba(255,140,0, 0.5);
}
